googleHomeFlow.json
[
  {
    "id": "309b3d98.09da22",
    "type": "comment",
    "z": "2a0be581.cdccca",
    "name": "Google Home Webhook-API.AI ---------------------------------------------------------------------------------------",
    "info": "",
    "x": 742.8957214355469,
    "y": 300.8888854980469,
    "wires": []
  },
  {
    "id": "97d8cf94.80058",
    "type": "http in",
    "z": "2a0be581.cdccca",
    "name": "",
    "url": "/red/googleAction",
    "method": "post",
    "swaggerDoc": "",
    "x": 159.99998474121094,
    "y": 413.1110534667969,
    "wires": [
      [
        "578a11e8.31879",
        "c8bb9f6b.4143e"
      ]
    ]
  },
  {
    "id": "23a9576c.8c2418",
    "type": "http response",
    "z": "2a0be581.cdccca",
    "name": "",
    "x": 671,
    "y": 373.111083984375,
    "wires": []
  },
  {
    "id": "578a11e8.31879",
    "type": "function",
    "z": "2a0be581.cdccca",
    "name": "Process Request",
    "func": "var WinkCMDmsg = \"\";\nvar localMsg = \"\";\nvar speechVar = \"unknown\";\nvar result = msg.payload.result;\nvar action = result.action;\nvar parameters = result.parameters;\nvar cmd = parameters.command;\nvar winkName = parameters.winkName;\nvar winkRobot = parameters.winkRobot;\nvar robotCmd = parameters.robotCmd;\nvar globVarName = parameters.globVarName;\nvar type = \"\";\nvar level = parameters.level;\nvar winkData = context.global.winkState;\nvar eid;\nvar new_entries;\n\nvar welcome = [\n        \"Hi, can I help you today?\",\n        \"Hello, something I can help you with?\",\n        \"Greetings!, can i be of some help today?\",\n        \"Good Day!, what can i help you with?\",\n        \"How can I help you today?\",\n        \"Is there something I can help you with?\"\n    ];\n\nvar WNRcmd = [\n        \"The command \" +winkName + \" \" + cmd + \" has been executed\",\n        winkName + \" \" + cmd + \" processed\",\n        winkName +\" is now \" +cmd\n    ];\n    \nvar VARcmd = [\n        \"The command \" +globVarName + \" \" + cmd + \" has been executed\",\n        globVarName + \" \" + cmd + \" processed\",\n        globVarName +\" is now \" +cmd\n    ];\n\n//return an array of objects according to key matching\nfunction getTypeByName(obj, query) {\n    for (var key in obj) {\n        var value = obj[key];\n        for(var winkname in value){\n            if (winkname == query) {\n                //node.warn('type=' + key);\n                return (key);\n            }\n        }\n    }\n}\n\nfunction getWinkDevices(obj){\n    var array = [];\n        for (var device in obj){\n            var name=obj[device];\n            var str = JSON.stringify(name.name);\n            if ( !(str.includes(\"@\",0)) && !(str.includes(\".\",0)) )\n                array.push({\"value\":name.name});\n        }\n    return array;\n}\n\nvar web_req=false;\nif (msg.req.headers['authorization']==context.global.googleHomeKey) web_req=true;\nif (web_req){\n    \n    switch(action)\n    {\n        case \"WNRcmd\":\n            type = getTypeByName(winkData,winkName);\n            //node.warn(type);\n            switch(type)\n            {\n                case \"binary_switches\":\n                case \"light_bulbs\":\n                    type = \"light\";\n                    break;\n                case \"groups\":\n                    type = \"group\";\n                    break;  \n                case \"scenes\":\n                    type = \"shortcut\";\n                    break;\n                default:\n                    type = \"undefined\";\n                break;\n            }\n            \n            if (type === \"undefined\"){\n                speechVar = winkName +\" is not a defined Device in your list\";\n            }\n            else{\n                if (level === \"\"){               \n                    level = 100;\n                    speechVar = WNRcmd[Math.floor((Math.random() * WNRcmd.length) + 0)];\n                }\n                else{\n                    cmd = \"on\";\n                    speechVar = WNRcmd[Math.floor((Math.random() * WNRcmd.length) + 0)];\n                    speechVar = speechVar + \" at brightness of \" +level;\n                }\n                WinkCMDmsg = context.global.executeWinkCMD(winkName,type,cmd,level);\n            }\n            break;\n            \n        case \"sendVarCmd\":\n            \n            global.set(globVarName,cmd);\n\n            //node.warn(globVarName + \" turned \" + cmd);\n            speechVar = VARcmd[Math.floor((Math.random() * VARcmd.length) + 0)];\n            WinkCMDmsg=context.global.send_ui_note('information',30000,'Variable '+globVarName+' set to: '+cmd,null);\n            WinkCMDmsg.topic=globVarName;\n            WinkCMDmsg.var_val=cmd;   \n            break;\n \n        case \"updateWinkDevices\":\n            eid = getWinkDevices(context.global.winkState.light_bulbs);\n            eid = eid.concat(getWinkDevices(context.global.winkState.binary_switches));\n            eid = eid.concat(getWinkDevices(context.global.winkState.groups));\n            //what other devices need to be added here?\n            \n            //Find values that are in context.global.googleHomeWinkDevices but not in eid\n            new_entries = eid.filter(function(obj) {\n                return !context.global.googleHomeWinkDevices.some(function(obj2) {\n                    return obj.value == obj2.value;\n                });\n            });\n            speechVar = new_entries.length +\" new devices were retrieved,  Is there anything else I can do for you?\";\n            WinkCMDmsg ={\n                \"url\":\"https://api.api.ai/v1/entities/winkName/entries?v=20150910\",\n                \"method\": \"PUT\",\n                headers: {\n                    \"Content-Type\": \"application/json\",\n                    \"Authorization\":\"Bearer \"+context.global.googleHomeKey\n                },\n                payload: \n                    new_entries\n            };\n            break;\n\n        case \"input.welcome\":\n            speechVar = welcome[Math.floor((Math.random() * welcome.length) + 1)];\n            break;\n            \n        case \"updateGlbVars\":\n            speechVar = \"This action is not supported yet\";\n            break;\n\n        case \"goodNight\":\n            speechVar = \"This action is not supported yet\";\n            break;\n            \n        case \"comfortZone\":\n            speechVar = \"This action is used for testing\";\n            break;\n            \n        default:\n            speechVar = \"Unknown action\";\n            break;\n    }//end switch(action)\n}\n//wed request denided\nelse {\n    node.warn(\"Google Home messages bad request\");\n    msg.statusCode=403;\n    return [msg,null];\n}\n\n//message returned to ai.api\n//this always needs to be returned\nmsg.headers = {\n        \"Content-type\" : \"application/json\",\n        \"my-custom-header\": \"a value\"\n    };\nmsg.statusCode=200; \nmsg.payload= {\n    \"speech\": speechVar,\n    \"displayText\": \"display text\",\n    \"data\": {\"WNR\": action},\n    \"contextOut\": [],\n    \"source\": \"WinkNodeRed\"\n    };\n\n\nif (WinkCMDmsg!==\"\")\n{\n    return [msg,WinkCMDmsg];\n}\n\nelse\n{\n    return [msg,null];\n}",
    "outputs": "2",
    "noerr": 0,
    "x": 491.9999542236328,
    "y": 413.111083984375,
    "wires": [
      [
        "23a9576c.8c2418",
        "adf62d25.2d41"
      ],
      [
        "bd2bf82c.b06db8"
      ]
    ]
  },
  {
    "id": "6f56b9b3.60c8b8",
    "type": "http request",
    "z": "2a0be581.cdccca",
    "name": "",
    "method": "use",
    "ret": "txt",
    "url": "",
    "tls": "",
    "x": 998,
    "y": 420.111083984375,
    "wires": [
      [
        "635d4ed3.77b7f",
        "63b69bf3.32dd64"
      ]
    ]
  },
  {
    "id": "c10436f4.2c7818",
    "type": "delay",
    "z": "2a0be581.cdccca",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 831,
    "y": 420.111083984375,
    "wires": [
      [
        "6f56b9b3.60c8b8"
      ]
    ]
  },
  {
    "id": "635d4ed3.77b7f",
    "type": "debug",
    "z": "2a0be581.cdccca",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 1166.0000457763672,
    "y": 364.111083984375,
    "wires": []
  },
  {
    "id": "bd2bf82c.b06db8",
    "type": "function",
    "z": "2a0be581.cdccca",
    "name": "",
    "func": "var t=msg.topic;\nnode.send(msg);\nif ('topic' in msg){\n    var wsMsg={};\n    wsMsg.payload={\n        varName:t,\n        varVal:context.global[t]\n    }\n    wsMsg.method=\"POST\";\n    wsMsg.url=context.global.BlueMixUrlBase+'/red/wscomms';\n    wsMsg.headers= {\n        \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n    };    \n    node.send(wsMsg);\n    \n    if (t=='VacationMode' && context.global.VacationMode=='on'){\n        var Msg1={}\n        Msg1.method=\"POST\";\n        Msg1.url=context.global.BlueMixUrlBase+'/red/vacation_init';\n        Msg1.headers= {\n            \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n        };\n        context.global.sendWithTimeout(node,Msg1,4000);\n    }\n    if (t=='VacationMode' && context.global.VacationMode=='off') context.global.clearAllIntervals();\n\n} \nreturn;",
    "outputs": 1,
    "noerr": 0,
    "x": 671,
    "y": 420.111083984375,
    "wires": [
      [
        "c10436f4.2c7818",
        "aa97c8f6.cae8d8"
      ]
    ]
  },
  {
    "id": "63b69bf3.32dd64",
    "type": "function",
    "z": "2a0be581.cdccca",
    "name": "",
    "func": "if ('topic' in msg){\nvar msg1={}\nmsg1.url=context.global.BlueMixUrlBase+'/red/update_app_cfg';\nmsg1.method=\"POST\";\nmsg1.headers= {\n    \"Authorization\":\"Bearer \"+context.global.FREEBOARD_TOKEN\n};\nmsg1.payload={\n   db_mode:\"update\"\n}\nreturn msg1;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 1176.0000457763672,
    "y": 420.111083984375,
    "wires": [
      [
        "8ff74f9e.3d114"
      ]
    ]
  },
  {
    "id": "8ff74f9e.3d114",
    "type": "http request",
    "z": "2a0be581.cdccca",
    "name": "",
    "method": "use",
    "ret": "obj",
    "url": "",
    "x": 1362.0000457763672,
    "y": 420.111083984375,
    "wires": [
      []
    ]
  },
  {
    "id": "aa97c8f6.cae8d8",
    "type": "debug",
    "z": "2a0be581.cdccca",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 834.9027709960938,
    "y": 375.444580078125,
    "wires": []
  },
  {
    "id": "c8bb9f6b.4143e",
    "type": "function",
    "z": "2a0be581.cdccca",
    "name": "",
    "func": "var msg ={\n    \"url\":\"https://api.api.ai/v1/entities/winkName\",\n    \"method\": \"GET\",\n    headers: {\n        \"Authorization\":\"Bearer \"+context.global.googleHomeKey,\n        }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 448.7326202392578,
    "y": 481.5,
    "wires": [
      [
        "b44ac131.65892"
      ]
    ]
  },
  {
    "id": "b44ac131.65892",
    "type": "http request",
    "z": "2a0be581.cdccca",
    "name": "Google Home wink_devices",
    "method": "use",
    "ret": "obj",
    "url": "",
    "tls": "",
    "x": 641.7916717529297,
    "y": 481.22216796875,
    "wires": [
      [
        "561f06e1.728318"
      ]
    ]
  },
  {
    "id": "561f06e1.728318",
    "type": "function",
    "z": "2a0be581.cdccca",
    "name": "googleHomeWinkDevices",
    "func": "function getEntries(obj,search){\n    for (var i in obj){\n        var entries=obj[i];\n        if (i == search){\n            return(entries);\n        }\n    }\n}\n\ncontext.global.googleHomeWinkDevices = getEntries(msg.payload,\"entries\");\n//node.warn(context.global.googleHomeWinkDevices);\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 900.7916717529297,
    "y": 481.22216796875,
    "wires": [
      [
        "a0532af8.5adc78"
      ]
    ]
  },
  {
    "id": "75393f9f.9d96d",
    "type": "inject",
    "z": "2a0be581.cdccca",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "43200",
    "crontab": "",
    "once": true,
    "x": 174.7361297607422,
    "y": 481.576416015625,
    "wires": [
      [
        "c8bb9f6b.4143e"
      ]
    ]
  },
  {
    "id": "a0532af8.5adc78",
    "type": "debug",
    "z": "2a0be581.cdccca",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 1102.7917938232422,
    "y": 481.5556640625,
    "wires": []
  },
  {
    "id": "adf62d25.2d41",
    "type": "debug",
    "z": "2a0be581.cdccca",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 495.5693817138672,
    "y": 353.333251953125,
    "wires": []
  },
  {
    "id": "2872085c.1032a8",
    "type": "inject",
    "z": "2a0be581.cdccca",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 538.8298797607422,
    "y": 196.2465362548828,
    "wires": [
      [
        "2bdb912.cd7956e"
      ]
    ]
  },
  {
    "id": "2bdb912.cd7956e",
    "type": "function",
    "z": "2a0be581.cdccca",
    "name": "Define Globals",
    "func": "if (typeof context.global.googleHomeKey === 'undefined')\n{\n    context.global.googleHomeKey=\"f22055f11ea74c319c8e49318e70efe6\";\n}\n\nif (typeof(context.global.googleHomeWinkDevices) === 'undefined')\n{\n    context.global.googleHomeWinkDevices = [];  \n}\n\nif (typeof(context.global.googleHomeGlbVariables) === 'undefined')\n{\n    context.global.googleHomeGlbVariables = [];  \n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 763.8332977294922,
    "y": 194.6215362548828,
    "wires": [
      []
    ]
  },
  {
    "id": "97069cf8.a0334",
    "type": "change",
    "z": "2a0be581.cdccca",
    "name": "get glb user vars",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "userVars.var1",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 571.8957672119141,
    "y": 1108.888916015625,
    "wires": [
      [
        "62016363.0107cc"
      ]
    ]
  },
  {
    "id": "52f371fe.43272",
    "type": "inject",
    "z": "2a0be581.cdccca",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 345.8957977294922,
    "y": 1108.888916015625,
    "wires": [
      [
        "97069cf8.a0334"
      ]
    ]
  },
  {
    "id": "62016363.0107cc",
    "type": "debug",
    "z": "2a0be581.cdccca",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 839.9999847412109,
    "y": 1148.888916015625,
    "wires": []
  },
  {
    "id": "6b9cb6b8.bf4758",
    "type": "change",
    "z": "2a0be581.cdccca",
    "name": "set glb user vars",
    "rules": [
      {
        "t": "set",
        "p": "userVars.var1",
        "pt": "global",
        "to": "something more two",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 583.9999694824219,
    "y": 1148.888916015625,
    "wires": [
      [
        "62016363.0107cc"
      ]
    ]
  },
  {
    "id": "40cee85b.6c56c8",
    "type": "inject",
    "z": "2a0be581.cdccca",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 347.99998474121094,
    "y": 1148.888916015625,
    "wires": [
      [
        "6b9cb6b8.bf4758"
      ]
    ]
  },
  {
    "id": "4019c21c.f8af1c",
    "type": "function",
    "z": "2a0be581.cdccca",
    "name": "list glb user var names",
    "func": "function getuserVars(obj){\n    var array = [];\n        for (var userVar in obj){\n            array.push(userVar);\n        }\n    return array;\n}\n\nmsg.payload = getuserVars(context.global.userVars);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 564.8367767333984,
    "y": 1187.6112060546875,
    "wires": [
      [
        "62016363.0107cc"
      ]
    ]
  },
  {
    "id": "6c79fe27.3b97b",
    "type": "inject",
    "z": "2a0be581.cdccca",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 349.895751953125,
    "y": 1187.8889770507812,
    "wires": [
      [
        "4019c21c.f8af1c"
      ]
    ]
  },
  {
    "id": "cca5120b.24af6",
    "type": "comment",
    "z": "2a0be581.cdccca",
    "name": "request API.AI for wink_devices entity",
    "info": "",
    "x": 669.0590667724609,
    "y": 523.8332824707031,
    "wires": []
  }
]